NEXT_PUBLIC_SITE_URL=https://pompeia-floricultura.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://gnxxuluzxcavxabbqaqs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
INSTAGRAM_ACCESS_TOKEN=
